<ul class="scroll-div">
	<% tabset.each do |display|
		@id = 			display.object_property_id
		@image = 		display.image_file
		@desc = 		display.description
	%>

	<li><div class="object" id="<%= @id %>" title="<%= @desc %>"><%= image_tag('display/' + @image,:size => '100x100') %></div></li>
	<% end %>

</ul>