<ul class="scroll-div">
	<% tabset.each do |display|
		@id = 			display.object_property_id
		@image = 		display.image_file
	%>

	<li><div class="object" id="<%= @id %>"><%= image_tag('test/' + @image,:height => '100') %></div></li>
	<% end %>
</ul>