<%= stylesheet_link_tag "hoverscroll" %>

<script>

//SHARED GLOBALS
var grid;
var GRID_SIZE = 20;
var GRID_HEIGHT = 10;
var VOXEL_SIZE = 50;

//RENDERING 
var container;
var camera, scene, renderer;
var canvas_width, canvas_height;
var theta = 45 * 0.5;

var projector, plane, cube;
var mouse2D, mouse3D, raycaster;
var shiftDown = false, ctrlDown = false;
var rollOveredFace;

var rollOverMesh, rollOverMaterial;

var currPos = new THREE.Vector3(), tmpVec = new THREE.Vector3(), normalMatrix = new THREE.Matrix3();

var cubeGeo, cubeMaterial;
var i, intersector;

var voxelPosition = new THREE.Vector3();

$(function(){
	$("#toolbox").organicTabs({ });

	$('.scroll-div').hoverscroll({fixedArrows: true, width: 800, height: 105});
	// Starting the movement automatically at loading
	// @param direction: right/bottom = 1, left/top = -1
	// @param speed: Speed of the animation (scrollPosition += direction * speed)
	var direction = 0, speed = 0;
	$(".scroll-div")[0].startMoving(direction, speed);
	
	if ( ! Detector.webgl ) 
		Detector.addGetWebGLMessage();

	// initialize grid with nulls
	grid = new Array(GRID_SIZE);
	for ( var x = 0; x < GRID_SIZE; x++ ) {
		grid[x] = new Array(GRID_SIZE);
		for ( var y = 0; y < GRID_SIZE; y++ ) {
			grid[x][y] = new Array(GRID_HEIGHT);
		}
	}

	//DISPLAY
	initGraphics();
	animate();
});

</script>
<div id='grid_container'>
</div>




<div id="toolbox">
					
	<ul class="nav">
		<li class="nav-one"><a href="#cat1" class="current">Category 1</a></li>
		<li class="nav-two"><a href="#cat2">Category 2</a></li>
		<li class="nav-three"><a href="#cat3">Category 3</a></li>
		<li class="nav-four"><a href="#cat4">Category 4</a></li>
	</ul>
    		
    <div class="list-wrap">
    	<div id="cat1">
    		<ul class="scroll-div">
    			<%
					@displays.each do |display|
						@image = display.image_file
				%>
    			<li><%= image_tag(@image,:height => '100') %></li>
    			<% end %>


    			<%
					@displays.each do |display|
						@image = display.image_file
				%>
    			<li><%= image_tag(@image,:height => '100') %></li>
    			<% end %>
			</ul>
    	</div>
        		 
       	<div id="cat2" class="hide">
       		<ul class="scroll-div">
	    		<li>test1</li>
				<li>test2</li>
				<li>test3</li>
				<li>test4</li>
				<li>test5</li>
				<li>test6</li>
				<li>test7</li>
				<li>test8</li>
				<li>test9</li>
				<li>test10</li>
			</ul>
    	</div>

		<div id="cat3" class="hide">
			<ul class="scroll-div">
	    		<li>test1</li>
				<li>test2</li>
				<li>test3</li>
				<li>test4</li>
				<li>test5</li>
				<li>test6</li>
				<li>test7</li>
				<li>test8</li>
				<li>test9</li>
				<li>test10</li>
			</ul>
		</div>

		<div id="cat4" class="hide">
			<ul class="scroll-div">
	    		<li>test1</li>
				<li>test2</li>
				<li>test3</li>
				<li>test4</li>
				<li>test5</li>
				<li>test6</li>
				<li>test7</li>
				<li>test8</li>
				<li>test9</li>
				<li>test10</li>
			</ul>
		</div>

	</div> <!-- END List Wrap -->
</div> <!-- END toolbox  -->	


