<!DOCTYPE html>
<html>
<head>
  <title>RubeWorks</title>
  <%= javascript_include_tag "application" %>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='sidebar' class='buildmode'>
	<div>
		<h1>Rubeworks<h1>
		<h3>CS 194 Project</h3>
		<div>Amy Zou, Austin Hulse, Emily Ye, Sonya Juang</div>

		<div style='margin: 20px 0;'>
			An interactive WebGL experiment using <a href="http://threejs.org/">three.js</a> 
			to create unusual machines from small components</br>
		</div>
		<div>
			CONTROLS:<br/>
			Press SHIFT to rotate canvas.<br/>
			Hold the D key and click to delete items.<br/>
			Press the R key to rotate object before placing<br/>
		</div>
	</div>
</div>
<div id='container'>
<%= yield %>
</div>
</body>
</html>
